FEEDGEN_PORT=3000
FEEDGEN_LISTENHOST=localhost
FEEDGEN_HOSTNAME=example.com
FEEDGEN_SQLITE_LOCATION=:memory:
FEEDGEN_SUBSCRIPTION_ENDPOINT=wss://bsky.network
FEEDGEN_PUBLISHER_DID=did:example:alice
FEEDGEN_SERVICE_DID=did:web:example.com
FEEDGEN_SUBSCRIPTION_RECONNECT_DELAY=3000
